<div>
  <header>
    <p>Client </p>
    <button>Dodaj</button>
  </header>
  <main>
    <div class="details">
      <h2>Szczegóły wybranego produktu</h2>
      <ng-container *ngIf="activeProduct !== null; else noSelectedItem">
        <p><span>Id: </span>{{activeProduct?.id}}</p>
        <p><span>Nazwa: </span>{{activeProduct?.name}}</p>
        <p><span>Dostępność: </span>{{activeProduct?.inStock ? "Dostępny" : "Niedostępny"}}</p>

      </ng-container>

      <ng-template #noSelectedItem>
        <p>Nie wybrano produktu!:(</p>
      </ng-template>
    </div>
    <div class="list">
      <table>
        <tr>
          <th>Identyfikator</th>
          <th>Nazwa</th>
          <th>Dostepność</th>
          <th>Edycja</th>
          <th>Usunięcie</th>
        </tr>
        <ng-container *ngFor="let product of productsList">
          <tr (click)="selectActive(product)">
            <td> {{product.id}}</td>
            <td> {{product.name}}</td>
            <td> {{product.inStock ? "Dostępny" : "Niedostępny"}}</td>
            <td><button>Edycja</button></td>
            <td><button>Usuń</button></td>
          </tr>
        </ng-container>
      </table>
    </div>
  </main>
</div>